useDynLib(mexhaz, .registration = TRUE, .fixes = "C_")

export(mexhaz, print.mexhaz, summary.mexhaz, predict.mexhaz, ranef, ranef.mexhaz, update.mexhaz, print.predMexhaz, plot.predMexhaz, points.predMexhaz)

importFrom(statmod, gauss.quad)
importFrom(numDeriv,jacobian)
importFrom(numDeriv,hessian)
importFrom(splines,splineDesign)
importFrom(MASS, mvrnorm)
importFrom(survival, Surv)
importFrom(graphics, plot, points)
importFrom(utils, head)
importFrom(stats, .getXlevels, as.formula, coef, model.extract, model.frame, model.matrix, na.pass, nlm, optim, printCoefmat, pt, qnorm, qt, quantile, terms, update, var)

S3method(print, mexhaz)
S3method(summary, mexhaz)
S3method(predict,mexhaz)
S3method(ranef,mexhaz)
S3method(update, mexhaz)
S3method(print, predMexhaz)
S3method(plot, predMexhaz)
S3method(points, predMexhaz)
