useDynLib(mexhaz, .registration = TRUE, .fixes = "C_")

export(fixef, fixef.mexhaz, mexhaz, ranef, ranef.mexhaz, vcov, vcov.mexhaz)

importFrom(statmod, gauss.quad)
importFrom(numDeriv,jacobian)
importFrom(numDeriv,hessian)
importFrom(splines,splineDesign)
importFrom(MASS, mvrnorm)
importFrom(survival, Surv)
importFrom(graphics, plot, points, lines)
importFrom(utils, head)
importFrom(stats, .getXlevels, as.formula, coef, model.extract, model.frame, model.matrix, na.pass, nlm, optim, printCoefmat, pt, qnorm, qt, quantile, terms, update, var)

S3method(fixef, mexhaz)
S3method(predict, mexhaz)
S3method(print, mexhaz)
S3method(summary, mexhaz)
S3method(ranef, mexhaz)
S3method(update, mexhaz)
S3method(vcov, mexhaz)
S3method(print, predMexhaz)
S3method(plot, predMexhaz)
S3method(points, predMexhaz)
S3method(lines, predMexhaz)
S3method(print, summary.mexhaz)
